.chat {
    position: absolute;
    top: 4%;
    bottom: 4%;
    right: 2%;
    left: 80%;
    border: 4px solid #14fdce;
    padding: 1%;
    -webkit-box-shadow: 0 0 15px 2px rgba(21, 235, 92, 0.57);
    -moz-box-shadow: 0 0 15px 2px rgba(21, 235, 92, 0.57);
    box-shadow: 0 0 15px 2px rgba(21, 235, 92, 0.57);
    word-wrap: break-word;
  }
  